body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}

header{
background:#003366;
color:white;
text-align:center;
padding:25px;
}

nav{
background:#0055aa;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:60px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
text-align:center;
}

.card a{
display:inline-block;
margin-top:10px;
padding:10px 15px;
background:#0055aa;
color:white;
border-radius:5px;
text-decoration:none;
}

.card:hover{
transform:scale(1.05);
transition:0.3s;
}

.calculator{
width:300px;
margin:auto;
padding:30px;
background:white;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
text-align:center;
}

.calculator input{
width:100%;
padding:8px;
margin:8px 0;
}

.calculator button{
background:#0055aa;
color:white;
border:none;
padding:10px;
width:100%;
}

.form-box{
width:350px;
margin:auto;
padding:30px;
background:white;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.form-box input{
width:100%;
padding:8px;
margin:10px 0;
}

footer{
background:#003366;
color:white;
text-align:center;
padding:15px;
}
<footer>
<p>© 2026 Holy Cross Women’s College</p>
<p>Student Portal Website</p>
</footer>